<form>
    <div data-fields="founder,name"></div>
    <p>Your {{ network }} balance: <span id="founder-balance"></span> tokens</p>

    <button id="form-submitd" type="submit" class="btn btn-info">Send transaction</button>
    <span>in {{ network }} blockchain</span>
</form>
