<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">A3</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Events</a></li>
                <li><a href="#">Storage</a></li>
                <li><a href="#">Chains</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <select class="form-control">
                        <option>0x1123123123123</option>
                        <option>0x1123123123123</option>
                        <option>0x1123123123123</option>
                        <option>0x1123123123123</option>
                        <option>0x1123123123123</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div id="content"></div>
</div>
