<h2>DAO “{{ name }}”</h2>
<p>{{ desc }}</p>

<h3>DAO nodes</h3>
<table class="table">
    <thead>
        <tr>
            <th>DAO node name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>[default] Aira core storage</td>
            <td>
                Hello! At vero eos et accusamus et iusto odio dignissimos ducimus
                qui blanditiis praesentium voluptatum deleniti atque corrupti quos
                dolores et quas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in culpa qui ocia deserunt mollitia animi,
                id est laborum et dolorum fuga. Et harum quidem rerum facilis est et
                expedita distinctio. Nam libero tempore, cum soluta nobis est
                eligendi optio cumque nihil impedit quo.
            </td>
            <td><a href="#" class="btn btn-default">Show</a></td>
            <td><a href="#" class="btn btn-default">Subscribe to events</a></td>
        </tr>
    </tbody>
</table>
<a href="#" class="btn btn-default">Add new node from Aira core storage</a>

<hr />

<h3>DAO agents availiable contracts</h3>
<table class="table">
    <thead>
        <tr>
            <th>Contract name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<a href="#" class="btn btn-default">Add new agent contract from Aira core storage</a>
