<h2>DAO “{{ name }}”</h2>
<p>{{ desc }}</p>

<h3>DAO nodes</h3>
<table id="nodes" class="table">
    <thead>
        <tr>
            <th>DAO node name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<a href="#" class="btn btn-default">Add new node from Aira core storage</a>

<hr />

<h3>DAO agents availiable contracts</h3>
<table class="table">
    <thead>
        <tr>
            <th>Contract name</th>
            <th>Description</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<a href="#" class="btn btn-default">Add new agent contract from Aira core storage</a>
