<h1>{{ title }}</h1>
<p>{{ desc }}</p>
<div class="panel panel-default">
	<div class="panel-heading">Ready-to-use genesis blocks in ./a3/genesisblocks</div>
	<div class="panel-body">
		<p>
			Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu
			leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula.
		</p>
		<table id="genesisblocks" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Network name</th>
					<th class="text-center">Select</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<a href="" id="selectBtn" class="btn btn-primary btn-lg">Start synchronization</a>
