<h1>Import existing DAO genesis block</h1>
<p>
	Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
	dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui ocia deserunt mollitia animi, id est
	laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
	cumque nihil impedit quo.
</p>
<p>
	Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos
	dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui ocia deserunt mollitia animi, id est
	laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
	cumque nihil impedit quo.
</p>
<div class="panel panel-default">
	<div class="panel-heading">Ready-to-use genesis blocks in ./a3/genesisblocks</div>
	<div class="panel-body">
		<p>
			Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu
			leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula.
		</p>
		<table id="genesisblocks" class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Network name</th>
					<th class="text-center">Select</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<a href="" id="importBtn" class="btn btn-primary btn-lg">Start synchronization</a>
