<div class="text-center">
	<p class="text-primary" style="font-size:86px;"><span class="glyphicon glyphicon-info-sign"></span></p>
	<p><strong>Information</strong></p>
	<p>Do you want create new DAO <br />or<br /> Import existing DAO blockchain genesis block?</p>
	<p style="margin:30px 0;">
		<a class="btn btn-info" href="#create-select" role="button">Create</a>
		<a class="btn btn-primary" href="#import-select" role="button">Import</a>
	</p>
</div>
<div class="alert alert-warning" role="alert">
	You can create your DAO in Aira network blockchain. It’s free for public use. <a href="">Import Aira network blockchain</a>.
</div>
